<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beijing.giraffeman.androidslowfuck">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主要界面 -->
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 演示了activity生命周期和SingleTask启动模式 -->
        <activity
            android:name=".ui.activity.lifecycle_launch.LifeCycleActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.activity.lifecycle_launch.SingleTask"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.ipc.IPCMainActivity" />

        <service
            android:name=".services.MessageService"
            android:process=":remote" />

        <activity android:name=".ui.activity.ipc.MessengerActivity" />

        <service
            android:name=".services.BookManagerService"
            android:process=":remote" />

        <activity android:name=".ui.activity.ipc.BookManagerActivity" />
        <activity android:name=".ui.activity.web_view.WebViewActivity" />
        <activity android:name=".ui.activity.md5_compute.MD5Activity"/>
    </application>

</manifest>